.contact {
    background-image: url('../images/contacto.jpg');
    background-repeat: no-repeat;background-size: cover;
    background-position: center center;
    height: 480px;
    border-radius: 12px;
}
.form {
    background-color: $light;
    width: 92%;
    margin: 0 auto;
    margin: -42px auto 0 auto;
    padding: 24px;
    border-radius: 4px;
}
.field {
    display: flex;
    margin-bottom: 12px;
    gap: 12px;
}
.field label {
    flex: 0 0 90px;
    color: $second;
    text-align: right;
}
.field input, .field textarea {
    flex: 1;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
}
.field textarea {
    height: 200px;
    resize: none;
}
